/*Overrides Bootstra*/
.progress{
    border-radius: .1em;
}
.progress span{
    right: 1em;
}   

/*Togle Elements*/
.student .details{
    position: inherit;
    opacity: 1;
    transition: .1s;
    min-height: 0.5em;
}
.student::after{
    font-size: 0.8rem;
    font-family: "violet-icons";
    content: '\e804';
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -0em;
    cursor: pointer;
}
.student:not(.active) .details{
    opacity: 0;
    height: 0;
    transform: translateY(-2em);
    pointer-events: none;
}
/*End of Toggle Elements*/
