/*Overrides Bootstra*/
.progress{
    border-radius: .1em;
}
.progress span{
    right: 1em;
}   

/*Toggle Items*/
.student .details{
    display: flex;
}
.student:not(.active) .details{
    display: none;
}
