.floating-button{
    height: 56px;
    width: 56px;
    bottom: 25px;
    right: 25px;
    color: white;
    font-size: 2rem;
}
.floating-button > div{
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-ppal);
    transform: rotateZ(45deg);
    transition: .2s
}
.floating-button >div:hover{
    background: var(--bg-darker);
    cursor: pointer;
}