.side-menu{
    top: 25%;
}
.side-menu li{
    transition: .2s
}
.side-menu li .hexagon{
    --hexBackground: var(--color-ppal);
    color: white;
}

.side-menu li:hover{
    background: var(--bg-ligher);
    color: white
}

.side-menu .active{
    background: var(--color-ppal);
    color: white
}
.side-menu .active::after{
    position: absolute;
    height: 100%;
    width: 4em;
    content: '';
    right: -4em;
    border-top: 2.2em solid transparent;
    border-bottom: 2.2em solid transparent;
    border-right: 2.2em solid transparent;
    border-left: 1.2em solid var(--color-ppal);
}
.side-menu .active .hex, .side-menu li:hover .hex{
    fill: white;
    color: var(--color-ppal);
}
.side-menu .active .hex{
    transform: translateX(1.8em)
}

/*Togle Elements*/
.activity .details{
    position: inherit;
    opacity: 1;
    transition: .2s
}
.activity:not(.active) .details{
    opacity: 0;
    position: absolute;
    transform: translateY(1em);
    pointer-events: none;
}
/*End of Toggle Elements*/