.side-menu{
    top: 25%;
}
.side-menu li{
    transition: .2s
}
.side-menu li .hexagon{
    --hexBackground: var(--color-ppal);
    color: white;
}

.side-menu li:hover{
    background: var(--bg-ligher);
    color: white;
    cursor: pointer;
}

.side-menu .active{
    background: var(--color-ppal);
    color: white
}
.side-menu .active::after{
    position: absolute;
    height: 100%;
    width: 4em;
    content: '';
    right: -4em;
    border-top: 2.2em solid transparent;
    border-bottom: 2.2em solid transparent;
    border-right: 2.2em solid transparent;
    border-left: 1.2em solid var(--color-ppal);
}
.side-menu .active .hex, .side-menu li:hover .hex{
    fill: white;
    color: var(--color-ppal);
}
.side-menu .active .hex{
    transform: translateX(1.8em)
}

/*Togle Elements*/
.activity .details{
    position: inherit;
    opacity: 1;
    transition: .1s;
    min-height: 1.1em;
}
.activity::after{
    font-size: 0.5rem;
    content:'V';
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -0em;
    cursor: pointer;
}
.activity:not(.active) .details{
    opacity: 0;
    height: 0;
    transform: translateY(-2em);
    pointer-events: none;
}
/*End of Toggle Elements*/

/*Options Style*/
.options{
    right:0;
    top:0
}
.options:hover{
    cursor: pointer;
}
.options::before{
    font-size: 1.2em;
    content:'...'
}
/*Overrides Boostrap*/
.options > .dropdown-menu{
    display: block;
    opacity: 1;
    pointer-events: initial; 
    left:-9.5rem;
    transition: .2s
}
.options > .dropdown-menu *:hover{
    background-color: var(--color-ppal);
    color:white
}
.options:not(.active) > .dropdown-menu{
    opacity: 0;
    transform:translate(50%,-50%) scale(0,0)
}