.hex{
    width: auto;
    height: 100%;
    position: relative;
    transition: .3s;
    color:white;
    z-index: 1;

}
.hex h1,.hex h2,.hex h3,.hex h4,.hex h5,.hex h6{
    color: white
}
.hex svg{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}


