/*Overrides Bootstrap Modal styles*/
.modal:not(.show), .modal-backdrop:not(.show){
    pointer-events: none
}
.modal-content{
    border-radius: 2px;
    border: none;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.5)
}
.modal-header{
    border:0
}
.modal-header .close{
    right: 1em;
    top:1em;
}