.hex-item-border{
    --hexBackground:rgba(0, 0, 0, 0.25);
    cursor: pointer;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

    position: absolute;
    z-index: -2;
    margin: 0!important;  
    transform: translateY(1px) 
}
.hex-item-inner{
    transition: .2s;
    background: white;
    color:var(--color-ppal);
}
.hex-item-inner:hover{
    transform: scale(1.05,1.05)
}
.hex-item-content{
    background: white;
    width: 100%;
}
.hex-item-hex{

}
.hex-item-config{
    --hexBackground:var(--bg-darker);
    color:var(--bg-darker);
    cursor: pointer;
}
.hex-item-config:hover div{
    transition: .2s;
    --hexBackground:var(--bg-darker);
    color:white;
}
