body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-darker: #33006b;
  --bg-ligher: #993FCB;

  --bg-gradient: linear-gradient(to right, #993FCB, #33006A);
  --bg-gradient-alt: linear-gradient(to right, transparent, #993FCB);

  --color-ppal: #8C37BE;

  --bg-gray: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*------------------------------------------Global css elements----------------------------------------*/
h1,h2,h3,h4,h5,h6,a,a:hover{
  color:  var(--color-ppal)
}
a:hover{
  cursor: pointer;
}
/*Buttons*/
.btn{
  border-radius: 2px !important; /*Overrides Bootstrap roundness*/
  margin: 2px;
}
.btn-violet-primary{
  background: var(--bg-gradient);
  color: white !important;
  width: fit-content;
}
.btn-violet-secondary{
  border:  1px solid var(--bg-darker);
  background: white !important;
  width: fit-content;
}
/*End of Buttons*/

/*Chebox*/
.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 1em;
  height: 1em;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
  position: absolute;
  top: 0.15em;
  left: 0.08em;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--bg-ligher);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: #506EEC;
}

.inp-cbx:checked + .cbx span:first-child {
  background: var(--bg-darker);    
  border-color: var(--bg-darker);   
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;   
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}
/*End of Checkbox*/

/*Text inputs and Forms*/

form label{
  color: var(--color-ppal);
  font-weight: 500
}
input, textarea{
  border:none;
  border-bottom: solid 1px gray;
  resize:none;
  margin-top: 0.2em;
  padding-bottom: 0.4em;
  transition: .2s
}
input:focus, textarea:focus{
  outline: none;
  border-bottom: solid 2px var(--color-ppal);
}


/*End of Text Inputs and Forms*/