/*Custom styles inside nav element (Banner)*/
.navbar{
    height: 65px;
}
.navbar span{
    color: var(--color-ppal)
}
.navbar li{
    cursor: pointer;
}
.navbar li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--color-ppal);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -0rem;
}

.navbar li:not(.active) *{
    color:gray
}
.navbar li:not(.active)::after{
    display: none;
}